@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.additional {
  $root: &;

  --margin: 130px;

  &__inner {
    display: flex;
    align-items: center;
    padding-left: max(16px, calc((100% - 1170px) / 2));
  }

  &__images {
    width: calc(100% - 570px - 130px);

    img {
      width: 100%;
    }
  }

  &__content {
    margin-right: var(--margin);
    width: 100%;
    max-width: 570px;

    p {
      margin-bottom: 32px;
    }
  }

  &__desc {
    h3 {
      margin-bottom: 16px;
      font-size: 24px;
      color: var(--color-brown-300);
    }
  }

  h2 {
    margin-bottom: 32px;
  }

  &--reverse {
    #{$root}__inner {
      padding-left: 0;
      padding-right: max(16px, calc((100% - 1170px) / 2));
    }

    #{$root}__content {
      margin-right: 0;
      translate: 0 18px;
    }

    #{$root}__images {
      margin-right: var(--margin);
    }

  }

  // @include media(desktop) {
  //   &__content {
  //     padding: 40px;
  //   }
  // }

  // @include media(tablet-wide) {
  //   &.exploration {
  //     h2 {
  //       margin: 0 auto 50px;
  //     }

  //     #{$root}__content {
  //       padding: 40px;
  //     }
  //   }
  //   h2 {
  //     margin-bottom: 80px;
  //   }

  //   &--white {
  //     .additional__image {
  //       margin-right: 55px;
  //       width: 550px;
  //     }
  //     &.reverse {
  //       .additional__image {
  //         width: 600px;
  //       }

  //       .additional__content {
  //         margin-right: 50px;
  //       }
  //     }
  //   }
  // }

  // @include media(tablet) {
  //   &__wrapper {
  //     grid-template-columns: 1fr;
  //     padding: 16px;
  //     gap: 25px;
  //   }

  //   &__image {
  //     translate: none;
  //   }

  //   &__content {
  //     padding: 16px;
  //   }

  //   &--white {
  //     .additional__wrapper {
  //       display: grid;
  //       grid-template-columns: 1fr;
  //       padding: 16px;
  //       gap: 25px;
  //     }

  //     .additional__content {
  //       order: -1;
  //       max-width: 100%;
  //     }

  //     .additional__image {
  //       margin-right: 0;
  //       width: 100%;
  //     }

  //     &.reverse {
  //       .additional__wrapper {
  //         display: grid;
  //         grid-template-columns: 1fr;
  //         padding: 16px;
  //         gap: 25px;
  //       }

  //       .additional__content {
  //         order: -1;
  //         max-width: 100%;
  //       }

  //       .additional__image {
  //         margin-right: 0;
  //         width: 100%;
  //       }
  //     }

  //     img {
  //       aspect-ratio: 2/1;
  //     }
  //   }

  //   &.exploration {
  //     #{$root}__content {
  //       padding: 16px;
  //     }

  //     h2 {
  //       margin: 0 auto 30px;
  //     }
  //   }

  //   h2 {
  //     margin-bottom: 30px;
  //   }

  //   img {
  //     aspect-ratio: 2/1;
  //   }
  // }
}
