@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.blog {
  $root: &;

  &__desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
    gap: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  .overlay {
    &::before {
      background: var(--gradient-gray);
    }

    a {
      &::before {
        content: "";
        position: absolute;
        inset: 0;
      }
    }

    &:hover {
      h3 {
        text-decoration-color: currentcolor;
      }
    }
  }

  &--main {
    #{$root}__content {
      flex-direction: column;
    }
  }

  h3 {
    position: absolute;
    bottom: 23px;
    width: 100%;
    max-width: 222px;
    left: 50%;
    font-size: clamp(18px, 1rem + 1.1111vi, 32px);
    color: var(--color-white);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: transparent;
    transform: translateX(-50%);
    transition: text-decoration-color 0.3s linear;
  }

  @include media(tablet) {
    &__content {
      margin-bottom: 25px;
    }

    h3 {
      max-width: 100%;
    }
  }
}
