@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.form {
  display: flex;
  margin-bottom: 47px;
  gap: 24px;

  label {
    width: 100%;
    max-width: 100%;
  }

  input,
  textarea {
    border-bottom: 2px solid var(--color-gray-100);
    padding: 15px 24px;
    width: 100%;
    max-width: 100%;
    color: var(--color-white);

    &::placeholder {
      font-weight: var(--fw-500);
      font-size: 18px;
      line-height: 1.44;
    }
  }

  .btn {
    padding: 20px 32px;
    min-width: 104px;
    color: var(--color-black);
    background-color: var(--color-white);
  }

  @include media(tablet) {
    margin-bottom: 25px;

    &__inner {
      gap: 24px;
    }
  }

  @include media(mobile-m) {
    flex-direction: column;

    .btn {
      max-width: 100%;
    }
    
    h2 {
      translate: none;
    }
  }
}
