@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 26px 0;
  width: 100%;
  background-color: transparent;
  transition-property: background-color, transform;
  transition-duration: 0.25s;

  &.hide {
    transform: translateY(-200%);
  }

  &.scroll,
  &.active {
    background-color: var(--color-black);
  }

  @include media(tablet-wide) {
    .logo {
      max-width: 220px;
    }
  }
}
