@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.hero {
  $root: &;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 900px;
  }

  &__content {
    padding: 16px 0;
  }

  h1 {
    margin-bottom: 32px;
  }

  p {
    margin-bottom: 32px;
    color: var(--color-white);
  }

  .btn {
    margin: 0 auto;
    padding: 20px;
    color: var(--color-black) !important;
    background-color: var(--color-white);
  }

  &--reasons {
    #{$root}__inner {
      min-height: 952px;
    }

    #{$root}__content {
      max-width: 690px;
      text-align: left;
      translate: 0 -107px;
    }

    h2 {
      margin-bottom: 21px;
      font-size: clamp(30px, 1.1667rem + 3.1481vi, 64px);
      line-height: 1.09;
      color: var(--color-white);
    }

    p {
      margin-bottom: 24px;
      font-size: clamp(16px, 1.0417rem + 0.3704vi, 22px);
      line-height: 1.45;
    }

    .btn {
      margin: 0;
      color: var(--color-white) !important;
      background-color: transparent;
      border-color: var(--color-white);
    }
  }

  @include media(tablet) {
    #{$root}__inner {
      min-height: 500px;
    }

    &__content {
      max-width: 100%;
    }

    p {
      margin-bottom: 24px;
    }

    &--reasons {
      #{$root}__content {
        translate: none;
        max-width: 100%;
      }
    }
  }

  @include media(mobile-m) {
    #{$root}__inner {
      min-height: 380px;
    }

    .btn {
      max-width: 100%;
    }
  }
}
