@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.post {
  padding: 32px 0 86px;
  color: var(--color-brown-600);

  &__images {
    margin-bottom: 86px;

    img {
      width: 100%;
    }
  }

  li {
    position: relative;
    font-size: clamp(16px, 0.9167rem + 0.3704vi, 20px);
    line-height: 1.5;
    display: flex;
    align-items: center;
    padding-left: 60px;

    &::before {
      content: "";
      position: absolute;
      left: 42px;
      border-radius: 50%;
      width: 7px;
      height: 7px;
      background-color: var(--color-brown-600);
    }

    &:first-child {
      font-weight: var(--fw-700);
    }
  }

  &__desc {
    margin-bottom: 48px;

    ul {
      margin-bottom: 30px;
    }

    li {
      &:first-child {
        padding-left: 30px;

        &::before {
          left: 11px;
        }
      }
    }
  }

  &__additional {
    ul {
      margin-bottom: 48px;
    }

    li {
      padding-left: 30px;

      &::before {
        left: 11px;
      }

      &:first-child {
        font-weight: var(--fw-400);
      }

      span {
        padding-right: 3px;
        font-weight: var(--fw-700);
        color: var(--color-brown-600);
      }
    }

    .btn {
      padding: 16px;
      min-width: 134px;
    }
  }

  h2,
  h3 {
    margin-bottom: 32px;
    font-size: clamp(25px, 0.8333rem + 3.2407vi, 60px);
    line-height: 1.3;
    color: var(--color-brown-300);
  }

  h2 {
    letter-spacing: 0.02em;
  }

  h3 {
    margin-bottom: 24px;
    font-size: clamp(18px, 0.8333rem + 1.2963vi, 32px);
  }

  p {
    line-height: 1.5;
  }

  .wrapper {
    max-width: 1232px;
  }
}
