@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.reviews {
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__content {
    width: 100%;
    max-width: 381px;
  }

  li {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 24px;
  }

  img {
    aspect-ratio: 1;
  }

  p {
    margin-bottom: 20px;
    font-size: clamp(16px, 1.0417rem + 0.3704vi, 22px);
    line-height: 1.45;
    color: var(--color-brown-600);
  }

  h3 {
    font-size: 26px;
    letter-spacing: 0.02em;
  }

  &--home {
    padding-bottom: 0;
  }
}
