@use "../../utils/functions/" as *;
@use "../../utils/mixins" as *;

.mission {
  padding-bottom: rem(98);

  &__inner {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__desc {
    margin-bottom: 48px;
  }

  &__list {
    padding-left: 112px;

    li {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: -112px;
        border-radius: 32px;
        width: 86px;
        height: 86px;
        background-image: url("../images/icons/check.svg");
        background-position: center;
        background-size: 42px;
        background-repeat: no-repeat;
        background-color: var(--color-orange-500);
      }

      &:not(:last-child) {
        margin-bottom: 48px;
      }

      &:first-child {
        &::before {
          opacity: 0.56;
        }
      }

      &:nth-child(2) {
        &::before {
          opacity: 0.72;
        }
      }

      &:last-child {
        p {
          width: 100%;
          max-width: 240px;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.62;
      }
    }
  }

  h3 {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1;
  }

  @include media(tablet-wide) {
    padding-bottom: 50px;
  }

  @include media(tablet) {
    padding-bottom: 25px;

    &__inner {
      grid-template-columns: 1fr;
    }

    &__desc {
      margin-bottom: 25px;
    }

    &__list {
      padding-left: 75px;

      li {
        &:not(:last-child) {
          margin-bottom: 25px;
        }

        &::before {
          left: -70px;
          width: 60px;
          height: 60px;
          background-size: 32px;
        }
      }
    }

    img {
      width: 100%;
      aspect-ratio: 16/10;
    }
  }
}
