@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

h1,
h2,
h3 {
  overflow: hidden;
  font-family: var(--font-family-secondary);
  font-weight: var(--fw-400);
  font-size: clamp(35px, 0.4167rem + 7.8704vi, 120px);
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-white);
}

h2,
h3 {
  margin-bottom: 24px;
  font-size: clamp(30px, 1.3333rem + 2.4074vi, 56px);
  color: var(--color-brown-600);
}

h2 {
  @include media(tablet) {
    margin-bottom: 24px;
  }
}

h3 {
  margin-bottom: 16px;
  font-size: clamp(16px, 0.9167rem + 0.3704vi, 20px);
}

p {
  font-size: clamp(16px, 0.9167rem + 0.3704vi, 20px);
}
